<section class="layout-home">
    <header class="layout-home__header">Nav</header>
    <!-- <main> -->
        <section class="layout-home__feature-1">
            <header>Feature 1</header>
        </section>
        <section class="layout-home__feature-2">
            <header>Feature 2</header>
        </section>
        <section class="layout-home__feature-3">
            <header>Feature 3</header>
        </section>
    <!-- </main> -->
    <footer class="layout-home__footer">&copy; Copyright 2020, Limbo</footer>
</section>
<!-- <a routerLink="/Chat">Open in your browser</a> -->