<section class="layout-home">
    <header class="layout-home__header">
        <ng-container *ngTemplateOutlet="nav"></ng-container>
    
        <ng-template #nav>
            <nav>
                💩Limbo
                <ul>
                    <ng-container *ngFor="let headerLink of headerLinks">
                        <ng-container *ngTemplateOutlet="headerList; context: headerLink"></ng-container>
                    </ng-container>
                </ul>

                <app-button text="Download"></app-button>
            </nav>
        </ng-template>

        <ng-template #headerList let-link="link" let-text="text">
            <li>
                <a routerLink="{{link}}">{{text}}</a>
            </li>
        </ng-template>
        
    </header>
    <!-- <main> -->
        <section class="layout-home__feature-1">
            <header>
                <h1>Join a community or start your own</h1>
                <p>Manage members and grant special privileges.</p>
                <p>Create private channels, and many more.</p>
            </header>

            <app-button text="basic" classes="btn btn__txt btn--basic"></app-button>
            <app-button text="main" classes="btn btn__txt btn--main"></app-button>
            <app-button text="info" classes="btn btn__txt btn--info"></app-button>
            <app-button text="success" classes="btn btn__txt btn--success"></app-button>
            <app-button text="error" classes="btn btn__txt btn--error"></app-button>
            <app-button text="warn" classes="btn btn__txt btn--warn"></app-button>
            <app-button text="light" classes="btn btn__txt btn--light"></app-button>
            <app-button text="dark" classes="btn btn__txt btn--dark"></app-button>
            
            <app-button text="basic-outline" classes="btn btn__txt btn--basic-outline"></app-button>
            <app-button text="main-outline" classes="btn btn__txt btn--main-outline"></app-button>
            <app-button text="info-outline" classes="btn btn__txt btn--info-outline"></app-button>
            <app-button text="success-outline" classes="btn btn__txt btn--success-outline"></app-button>
            <app-button text="error-outline" classes="btn btn__txt btn--error-outline"></app-button>
            <app-button text="warn-outline" classes="btn btn__txt btn--warn-outline"></app-button>
            <app-button text="light-outline" classes="btn btn__txt btn--light-outline"></app-button>
            <app-button text="dark-outline" classes="btn btn__txt btn--dark-outline"></app-button>

            <app-button text="dark-pill" classes="btn-pill btn__txt btn-pill--dark"></app-button>
            <app-button text="dark-fab" classes="btn-fab btn__txt btn-fab--dark"></app-button>
        </section>
        <section class="layout-home__feature-2">
            <header>
                <h1>Easily keep in touch</h1>
                <p>Chat with old friends or make new ones.</p>
                <p>Friends are notified when you are connected.</p>
            </header>
        </section>
        <section class="layout-home__feature-3">
            <header>
                <h1>A place to meet like minded individuals</h1>
                <p>Discuss your interests or share ideas.</p>
            </header>
        </section>
    <!-- </main> -->
    <section class="layout-home__pricing">
        <header>
            <h1>Icon</h1>
            <h2>Price</h2>
        </header>
        <h1>Tier</h1>
        <p>Features[]</p>
        <app-button text="GET STARTED"></app-button>
    </section>
    <footer class="layout-home__footer">
        Social Links
        <ng-container *ngTemplateOutlet="footer"></ng-container>
        💩Limbo
        &copy; 2020, Limbo
        
        <ng-template #footer>
            <nav>
                <ul>
                    <ng-container *ngFor="let footerLink of footerLinks">
                        <ng-container *ngTemplateOutlet="footerList; context: footerLink"></ng-container>
                    </ng-container>
                </ul>
            </nav>
        </ng-template>
        
        <ng-template #footerList let-link="link" let-text="text">
            <li>
                <a routerLink="{{link}}">{{text}}</a>
            </li>
        </ng-template>
    </footer>
</section>
<!-- <a routerLink="/Chat">Open in your browser</a> -->