<ng-container *ngTemplateOutlet="feature"></ng-container>

<ng-template #feature>
    <ng-container *ngFor="let feature of features">
        <ng-container *ngTemplateOutlet="featureList; context: feature"></ng-container>
    </ng-container>
</ng-template>

<ng-template #featureList let-className="className" let-h1="heading" let-f1="feature1" let-f2="feature2">
    <section [ngClass]="className">
        <header>
            <h1>{{h1}}</h1>
            <p>{{f1}}</p>
            <p>{{f2}}</p>
        </header>
    </section>
</ng-template>

<!-- <section [ngClass]="features">sdfsf</section> -->