<ng-container *ngTemplateOutlet="features"></ng-container>

<ng-template #features>
    <ng-container *ngFor="let feat of featureData">
        <ng-container *ngTemplateOutlet="featureList; context: feat"></ng-container>
    </ng-container>
</ng-template>

<ng-template #featureList let-img="image" let-title="title" let-text="text">
    <section class="feature">
        <div class="feature__svg">
            <p>{{img}}</p>
        </div>
        <div class="feature__info">
            <h2 class="title">{{title}}</h2>
            <p class="text">{{text}}</p>
        </div>
    </section>
</ng-template>