<ng-container *ngTemplateOutlet="nav"></ng-container>
    
<ng-template #nav>
    <nav class="main-nav">
        <a class="main-nav__logo main-nav__txt-dec-none main-nav__txt-white" routerLink="#">Logo</a>
        <ul>
            <ng-container *ngFor="let headerLink of headerLinks">
                <ng-container *ngTemplateOutlet="headerList; context: headerLink"></ng-container>
            </ng-container>
        </ul>
        <app-button class="main-nav__download" text="Download" classes="btn btn__txt btn--main"></app-button>  
    </nav>
</ng-template>

<ng-template #headerList let-area="gridArea" let-className="classes" let-link="link" let-text="text">
    <li class="{{area}}">
        <a class="{{className}}" routerLink="{{link}}">{{text}}</a>
    </li>
</ng-template>