@import '../../../../partials/class-templates';

@include block(main-nav, (display: grid, 
                                 margin: 0 auto,
                                 grid-template-columns: repeat(3, 1fr),
                                 grid-template-areas: /* 
                                                      ". . main-nav__limbo" */
                                                      "main-nav__updates" 
                                                      "main-nav__pricing" 
                                                      "main-nav__support . . . .")) {
    // @include element(home, (grid-area: main-nav__home));
    @include element(limbo, (grid-area: main-nav__limbo, display: inline, list-style-type: none, padding: 0 5px));
    @include element(updates, (grid-area: main-nav__updates, display: inline, list-style-type: none, padding: 0 5px));
    @include element(pricing, (grid-area: main-nav__pricing, display: inline, list-style-type: none, padding: 0 5px));
    @include element(support, (grid-area: main-nav__support, display: inline, list-style-type: none, padding: 0 5px));
    @include element(txt-dec-none, (text-decoration: none));
}
