%message-properties {
    display: block;
    resize: none;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto; 
    border: none; 
    border-bottom: 2px solid cyan;
    width: 80%; 
    height: 2rem;
    background-color: transparent;
    color: #f3f3f3;
    font-size: 1.25em;
    -webkit-transition: box-shadow .35s ease-in-out;
    transition: box-shadow .35s ease-in-out;

    &::placeholder {
        color: #f3f3f3;
        font-size: 1.25em;
    }

    &:focus {
        box-shadow: 0 0.75rem 0.5rem 3px #242424;
        outline: none;
    }
}

.message {
    @extend %message-properties;
}