@import '../../../../partials/class-templates/class-templates';

@include block(pricing, (display: grid,
                         margin: 6rem auto,
                         grid-template-columns: 1fr,
                         grid-template-areas: "pricing__card")) { 
    @include element(card, (grid-area: pricing__card, justify-self: center));
} 