<ng-container *ngTemplateOutlet="card"></ng-container>

<ng-template #card>
    <ng-container *ngFor="let data of cardData">
        <ng-container *ngTemplateOutlet="cardList; context: data"></ng-container>
    </ng-container>

    <ng-template #cardList let-title="title" let-desc="description" let-price="price" let-btnTxt="buttonText" let-msg="messageCap" let-storage="storageCap" let-server="serverCap">
        <div class="card">
            <h3 class="card__title">{{title}}</h3>
            <p class="card__desc">{{desc}}</p>
            <h3 class="card__price">{{price}}</h3>
            <app-button class="card__button"  text="{{btnTxt}}" classes="btn btn__txt btn--main"></app-button>
            <div class="card__perk">
                <p>{{msg}}</p>
                <p>{{storage}}</p>
                <p>{{server}}</p>
            </div>
        </div>
    </ng-template>
</ng-template>