@import '../../../../partials/class-templates';
@import '../../../../partials/button-templates';

@include block(btn) {
    @extend %btn;
}

.btn--default {
    background-color: #b9b9b9;
    color: #fff;

    &:hover {
        background-color: #808080;
    }
}

.btn--error {
    background-color: crimson;
    color: #fff;

    &:hover {
        background-color: #af1534;
    }
}

.btn--warn {
    background-color: #fffc68;
    color: #252525;
    
    &:hover {
        background-color: #eeeb5a; 
    }
}