<ng-container *ngTemplateOutlet="jumpNav"></ng-container>

<ng-template #jumpNav>
    <nav class="jump-nav">
        <ng-container *ngFor="let j of jumpNavData">
            <ng-container *ngTemplateOutlet="jumpNavList; context: j"></ng-container>
        </ng-container>
    </nav>
</ng-template>

<ng-template #jumpNavList let-area="gridArea" let-classes="classes" let-link="link" let-txt="text">
    <li class="{{area}}">
        <a class="{{classes}}" href="{{link}}">{{txt}}</a>
    </li>
</ng-template>