@import '../../../../partials/class-templates';

@include block(jump-nav, (display: grid,
                          height: 7rem,
                          margin: auto 0,
                          justify-content: center,
                          justify-items: center,
                          background-color: #fff,
                          grid-template-columns: repeat(3, 20rem),
                          grid-template-areas: "jump-nav__anchor1 jump-nav__anchor2 jump-nav__anchor3")) {
    @include element(anchor1, (grid-area: jump-nav__anchor1, list-style-type: none, padding: 0 10px));
    @include element(anchor2, (grid-area: jump-nav__anchor2, list-style-type: none, padding: 0 10px));
    @include element(anchor3, (grid-area: jump-nav__anchor3, list-style-type: none, padding: 0 10px));
    @include element(txt-dec-none, (text-decoration: none));
}