@import '../../../partials/class-templates';

@include block(layout, (display: grid, 
                        height: 100vh, 
                        margin: 0 auto, 
                        color: white,
                        grid-template-columns: 1fr 3.5fr 1fr, 
                        grid-template-areas: 
                            "layout__servers  layout__main layout__users" 
                            "layout__servers  layout__main layout__users" 
                            "layout__servers  layout__main layout__users")) {

    @include element(servers, (grid-area: layout__servers, opacity: 50%, background-color: blue));
    @include element(main, (grid-area: layout__main, opacity: 50%, background-color: gray));
    @include element(users, (grid-area: layout__users, opacity: 50%, background-color: red));
}