<div class="layout-chat">
    <div class="layout-chat__servers-header">
        Server header
    </div>
    <div *ngFor="let s of servers;" class="layout-chat__servers">
        <div style="font-size: 2rem; text-align: center">{{s}}</div>
    </div>
    <div class="layout-chat__channels">
        Channel Component
    </div>
     <div class="layout-chat__channels-header">
        Channel header
    </div>
    <div class="layout-chat__main">
        <app-message></app-message>
    </div>
    <div class="layout-chat__users">
        User Component
    </div>
    <div class="layout-chat__users-header">
        <app-search></app-search>
    </div>
</div>