@import '../../../partials/class-templates/class-templates';

$c-3a3a3a: #2b2b30;
$c-2c2c2c: #252629;
$c-222222: #1e1d20;
@include block(layout-chat, (display: grid, 
                        height: 100vh, 
                        margin: 0 auto, 
                        color: white,
                        grid-template-columns: 0.2fr 1fr 3.5fr 1fr, 
                        grid-template-rows: 3.5rem 1fr,
                        grid-template-areas: 
                            "layout-chat__servers           layout-chat__servers-header     layout-chat__channels-header  layout-chat__users-header" 
                            "layout-chat__servers           layout-chat__channels           layout-chat__messages         layout-chat__users" 
                            "layout-chat__servers           layout-chat__channels           layout-chat__message          layout-chat__users")) {

    @include element(servers, (grid-area: layout-chat__servers, background-color: $c-222222));
    @include element(servers-header, (grid-area: layout-chat__servers-header, background-color: $c-2c2c2c));
    @include element(channels, (grid-area: layout-chat__channels, background-color: $c-2c2c2c));
    @include element(channels-header, (grid-area: layout-chat__channels-header, background-color: $c-222222));
    @include element(messages, (grid-area: layout-chat__messages, background-color: $c-3a3a3a));
    @include element(message, (grid-area: layout-chat__message, background-color: $c-3a3a3a));
    @include element(users, (grid-area: layout-chat__users, background-color: $c-2c2c2c));
    @include element(users-header, (grid-area: layout-chat__users-header, background-color: $c-222222));
}