<div class="layout-chat">
    <div class="layout-chat__servers-header">
        Server banner
    </div>
    <div *ngFor="let s of servers;" class="layout-chat__servers">
        <div style="font-size: 2rem; text-align: center">{{s}}</div>
    </div>
    <div class="layout-chat__channels">
        Channel Component
    </div>
     <div class="layout-chat__channels-header">
        Header Component
    </div>
    <div class="layout-chat__main">
        Main Component
    </div>
    <div class="layout-chat__users">
        User Component
    </div>
    <div class="layout-chat__users-header">
        User Component
    </div>
</div>